<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinmi.react.printer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.hardware.usb.UsbAccessory" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
